body, html {
    background-color: #333;
    color: #bbb;
  }
  
  .content {
    display: grid; 
    grid-template-columns: auto auto;
  }
  
  .resizable {
    color: black;
    background: white;
    width: 50%;
    height: 50%;
    position: relative;
    border: 3px solid #4286f4;
    box-sizing: border-box;
    padding: 2rem;
    overflow: hidden;
  }
  
  .resizable img {
      width: 80%;
    margin-left: 2rem;
  }
  
  .handler {
    border-top: 15px solid transparent;
    border-left: 15px solid #4286f4;
    border-bottom: 15px solid #4286f4;
    border-right: 15px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0px;
    right: 0px;
    transform: rotate(270deg);
    cursor: nwse-resize;
  }